<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Supply Chain</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
    <h1 class = "jumbotron">Export Sales</h1>
    <div>
    <ul style="list-style: none;">
        <!-- {% for inventory in inventory %}
          {{ inventory.Commodity }}
        {% endfor %} -->
      </ul>
      <script>
        data = "{{ response }}";
        console.log(data[0],5);
      </script>
    </div>
  </div>
</body>
</html>
